.header{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 10vh;
    background: #de5814;
    padding: 0 20px;
    box-shadow: 0px 1px 6px 0px #b1b1b1eb;
    z-index: 10;
    &-nav{
        display: flex;
        width: 100%;
        justify-content: space-between;
        &-left{
            display: inline-flex;
            align-items: center;
            h1{
                display: flex;
                width: 135px;
                height: 8vh;
                font-size: 0;
                background: url(../../assets/images/logo.png) no-repeat center;
                background-size: contain;
                margin: 0;
                @media screen and (max-width: 768px){
                    width: 100px;
                }
            }
        }
        &-right{
            display: inline-flex;
            position: relative;
            align-items: center;
            justify-content: center;
        }
    }
}