<div class="profile">
  <!-- Profile -->
  <section class="profile-card">
    <div class="profile-card-container">
      <p class="profile-card-picture">
        <img id="userphoto" src={{user.photo}} alt="User's image">
      </p>
      <h4 id="username">{{user.name}}</h4>
      <hr>
      <p class="profile-card-detail">
        <i class="fa fa-envelope-o fa-fw"></i>
        <span id="user-email">{{user.email}}</span>
      </p>
      <p class="profile-card-detail">
        <i class="fa fa-suitcase fa-fw"></i>
        <span>{{user.position}}</span>
      </p>
      <p class="profile-card-detail">
        <i class="fa fa-home fa-fw"></i>
        <span>{{user.city}}</span>
      </p>
      <p class="profile-card-detail">
        <i class="fa fa-building fa-fw"></i>
        <span>{{user.cityWork}}</span>
      </p>
      <p class="profile-card-detail">
        <i class="fa fa-line-chart fa-fw"></i>
        <span>{{user.project}}</span>
      </p>
    </div>
  </section>

  <br>

  <!-- Accordion -->
  <section class="groups-card">
    <div class="groups-card--wrapper">
      <div class="groups-card--title">
        <i class="fa fa-forumbee"></i>
        <span>Minhas colmeias </span>
      </div>
      <div id="my-groups" class="groups-card--list">
        <ul class="groups">
          <li id="seeAllGroups" class="groups__list" (click)="getGroupId($event)">Ver Todos</li>
          <li id="group{{i}}" class="groups__list" *ngFor="let group of groups; let i = index" (click)="getGroupId($event) ">{{group.name}}</li>
        </ul>
      </div>
      <div class="groups-card--title">
        <i class="fa fa-address-card"></i>
        <span>Meus amigos</span>
      </div>
      <div id="my-pictures" class="groups-friends--list">
        <div class="friends-list">
          <div id="photo{{i}}" class="friends-list-item" *ngFor="let photo of photos; let i = index">
            <img src={{photo.src}} class="friends-image" alt={{photo.alt}}>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Left Column -->
</div>