<!-- Page Container -->
<div class="container-timeline">
  <!-- The Grid -->
  <div class="container-timeline--wrapper">
    <!-- Left Column -->
    <div class="container-timeline--wrapper__left">
      <app-timeline-profile></app-timeline-profile>
    </div>
    <!-- Right Column -->
    <div class="container-timeline--wrapper__right">
      <div class="container-timeline--createpost">
        <app-timeline-create-post></app-timeline-create-post>
      </div>
      <div class="container-timeline--alert">
        <app-timeline-alert-box></app-timeline-alert-box>
      </div>
      <div class="container-timeline--poststimeline">
        <app-timeline-list-posts></app-timeline-list-posts>
      </div>
      <!-- End Right Column -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Page Container -->
</div>
<br>