.container-timeline{
    display: flex;
    width: 100vw;
    height: auto;
    min-height: 85vh;
    margin-top: 10vh;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    @media screen and (max-width: 768px){
      height: auto;           
    }
    &--wrapper{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        @media screen and (max-width: 768px){
            flex-direction: column;    
        }
        &__left{
            display: inline-flex;
            flex-direction: column;
            width: 30%;
            @media screen and (max-width: 768px){
                display: flex;
                width: 100%;
            }
        }
        &__right{
            display: inline-flex;
            flex-direction: column;
            width: 70%;
            @media screen and (max-width: 768px){
                display: flex;
                width: 100%;
            }
        }
    }
}