.list-posts{
    display: flex;
    flex-direction: column;
    &-wrapper{
        margin: 15px;
        border-radius: 5px;
        padding: 16px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        @media screen and(max-width: 768px){
            margin: 15px 0;
        }
    }
    &-user{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 25px;
        padding-bottom: 10px;
        border-bottom: 2px solid #e0e0e0;
        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
    &-img{
        margin-bottom: 30px;
        &-wrapper{
            width: 50%;
            @media screen and(max-width: 768px){
                width: 100%;
            }
            img{
                width: 100%;
            }
        }
    }
    .btn-like{
        width: 90px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        background: #5b7c8e;
        border: none;
        transition: .4s linear;
        outline: none;
        &:hover{
            background: #124666;
            transition: .4s linear;
        }
        &.like-activated{
            background-color: #de5814;
            color: #fff;
        }
    }
    .amount-likes{
        font-weight: bold;
        margin: 15px 2px;;
    }
}