<form #form="ngForm">
  <div class="input-items">
    <div>
      <label for="email">Email</label>
      <input id="email" type="email" name="email" [(ngModel)]="signInData.email" placeholder="Email">
    </div>
    <div>
      <label for="password">Senha</label>
      <input id="password" type="password" name="password" [(ngModel)]="signInData.password" placeholder="Senha">
    </div>
  </div>
  <div class="input-submit">
    <button id="btn-login" type="button" (click)="signIn()">Entrar</button>
  </div>
</form>