.timeline-post{
    padding: 0 10px;
    @media screen and(max-width: 768px){
        padding: 0;
    }
    &-card{
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        h6{
            font-family: "Open Sans", sans-serif;
            color: #545b62;
            font-weight: bold;
        }
        .btn-post, .btn-image{
            width: 160px;
            height: 40px;
            color: #fff;
            border-radius: 5px;
            background: #5b7c8e;
            border: none;
            cursor: pointer;
            transition: .4s linear;
            &:hover{
                background: #124666;
                transition: .4s linear;
            }
            @media screen and(max-width: 768px) {
                width: 100%;
                margin-bottom: 15px;
            }
        }
        .btn-post{
            margin-left: 20px;
            @media screen and(max-width: 768px){
                margin-left: 0;
            }
        }
    }
}