<div class="content-page">
  <div class="content-page__canvas">
    <canvas id="canvas"></canvas>
  </div>
  <div class="content-page__register">
    <div class="content-page__register--wrapper">
      <h6>Cadastrar usuário</h6>
      <form #form="ngForm">
        <input type="email" name="email" [(ngModel)]="signUpData.email" placeholder="exemplo@exemplo.com" class="inputText">
        <input type="password" name="password" [(ngModel)]="signUpData.password" placeholder="Senha" class="inputText">
        <input type="password" name="confirmPassword" [(ngModel)]="signUpData.confirmPassword" placeholder="Repetir senha"
          class="inputText">
        <div class="inputCheckbox">
          <div>
            <input id="input1" type="checkbox" name="firstAccess" [(ngModel)]="signUpData.firstAccess" checked>
            <label for="input1">Primeiro Acesso</label>
          </div>
          <div>
            <input id="input2" type="checkbox" name="activeUser" [(ngModel)]="signUpData.activeUser" checked>
            <label for="input2">Usuário Ativo</label>
          </div>
          <div>
            <input id="input3" type="checkbox" name="admin" [(ngModel)]="signUpData.admin">
            <label for="input3">Administrador</label>
          </div>
        </div>
        <button type="button" (click)="signUpAdd()">Cadastrar</button>
      </form>
    </div>
  </div>
</div>